* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #eaebef;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4167b2;
  padding: 15px;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
  }
}

.main-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;

  .post {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    border: 1px solid #cacaca;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

    .post-header {
      display: flex;
      align-items: center;

      img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
      }

      div {
        margin-left: 15px;
        display: flex;
        flex-direction: column;

        strong {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: #7a7a7a;
          margin-bottom: 2px;
        }

        time {
          font-family: "Source Sans Pro", sans-serif;
          color: #b1b1b1;
          font-size: 12px;
        }
      }
    }

    .post-separator {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #f5f5f5;
      margin: 1em 0;
      padding: 0;
    }

    .post-body {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      color: #3c3c3c;
    }
  }
}
